 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

header {
  background-color: rgb(255, 238, 0);
  width: 100%;
}


main {
    background-color: rgb(128, 25, 56);
       height: 500px;

    width: 100%;

}

footer {
  height: 100px;
  width: 100%;
  background-color: brown;
}

.navigation-bar { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    height: 100px; }

.border-style-dotted-nav {
       border-style: dotted;
}

.border-style-dotted {
       border-style: dotted;
       }


.bg-white{
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pink{
  background-color: pink;
   height: 400px
  }
.blue{
  background-color: rgb(17, 0, 255);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-white{
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box-violet {
  background-color: rgb(158, 84, 228);
  height: 300px;
  width: 600px;



}