 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

header {
  background-color: rgb(255, 238, 0);
  width: 100%;
}


main {
    background-color: rgb(128, 25, 56);
       height: 500px;

    width: 100%;

}

footer {
  height: 100px;
  width: 100%;
  background-color: brown;
}

.navigation-bar { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    height: 100px; 
  
  }

.logo { 
  display: flex;
  align-items: left;
  padding-right: 10rem;
}

.link{
  display: flex;
  padding-right: 10rem;
  padding-left: 10rem;


 }

 .login{
 display: flex;
  justify-content: flex-end;
  padding-left: 10rem; }

.border-style-dotted-nav {
       border-style: dotted;
}

.border-style-dotted {
       border-style: dotted;
       }


.bg-white{
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pink{
  background-color: pink;
   height: 400px
  }
.blue{
  background-color: rgb(17, 0, 255);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-white{
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.box-violet {
  background-color: rgb(158, 84, 228);
  height: 300px;
  width: 400px;

}
.box-pink {
  background-color: rgb(228, 199, 255);
  height: 80%;
  width: 30%;
  margin-left:10rem;
}
.box-blue {
  background-color: rgb(0, 60, 255);
   height: 80%;
   width: 70%;
   margin-right: 10rem;

}

.bg-grey{
  background-color: rgb(185, 185, 185);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-blue-min {
  background-color: rgb(0, 60, 255);
   height: 80%;
   width: 30%;
   margin-right: 10rem;
}

.box-pink-min {
  background-color: rgb(228, 199, 255);
  height: 80%;
  width: 70%;
  margin-left:10rem;
  }